@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: #222222;
}

form {
    max-width: 70%;
    margin: 50px auto;
}

#info {
    color: white;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    max-width: 50%;
    margin: 50px auto;
}

#info h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#info p {
    font-family: Helvetica, Arial, sans-serif;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 3px solid #253a53;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
}


.feedback-input:focus {
    border: 2px solid #2f4a6a;
}

#message {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    font-size: 18px;
}

#link {
    height: 50px;
    line-height: 100%;
    resize: vertical;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.dropdownOption {
    color: #ffffff;
    background: #222222;
}

.dropdownDisabledOption {
    color: #808080;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #253a53;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

    [type="submit"]:hover {
        background: #2f4a6a;
    }

.msg {
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 40%;
    margin: 50px auto;
}

.linkBox {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 3px solid #253a53;
    transition: all 0.3s;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
}

mark {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

@media screen and (max-width: 800px) {
    #info, .feedback-input, .linkBox, #container, [type="submit"], #link, #message, #info, form {
      width: 100%;
      max-width: 95%;
      font-size: 2vw;
    }

    [type="submit"] {
        margin-top: 2px;
    }

  }