@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: #222222;
    max-width: 40%;
    margin: 50px auto;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 13px;
    margin-bottom: 15px;
    text-align: center;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 3px solid #253a53;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    overflow: auto;
}

    .feedback-input:focus {
        border: 2px solid #2f4a6a;
    }

#link {
    line-height: 100%;
    text-align: left;
}